pandas==2.1.4
biopython
beautifulsoup4
transformers
sentence-transformers
qwen_vl_utils
accelerate
datasets
requests
biotite
pymupdf4llm
pymupdf
layoutparser
SQLAlchemy==1.4.54
pgvector
psycopg2-binary
adapters
chonkie[all]
pysam
lxml
colpali-engine>=0.3.0
docker
openpyxl
model2vec
pytesseract
rdkit
bitsandbytes
pytest
pytest-cov
